<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Page</title>
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <h1>Add Page</h1>
    </div>
    <hr />

    <!-- Add Form -->
    <form class="form" action="">
      <div class="input-field">
        <label for="name">Name:</label>
        <input type="text" />
      </div>
      <div class="input-field">
        <label for="category">Category:</label>
        <input type="text" />
      </div>
      <div class="dual">
        <div class="input-field">
          <label for="quantity">Quantity</label>
          <input type="text" />
        </div>
        <div class="input-field">
          <label for="price">Price:</label>
          <input type="text" />
        </div>
      </div>
      <div class="input-field">
        <label for="description">Description:</label>
        <input type="text" />
      </div>
      <button>Submit</button>
    </form>
  </body>
</html>
