<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Page</title>
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="title">
        <button aria-label="Home">
          <i class="fas fa-home" title="Home"></i>
        </button>
        <h1>Edit Page</h1>
      </div>
    </header>
    <hr />

    <!-- Edit Form -->
    <form class="form" action="">
      <div class="input-field">
        <label for="name">Name:</label>
        <input
          id="name"
          type="text"
          placeholder="Enter name..."
          aria-label="Enter your name"
        />
      </div>
      <div class="input-field">
        <label for="category">Category:</label>
        <input
          id="category"
          type="text"
          placeholder="Enter category..."
          aria-label="Enter your category"
        />
      </div>
      <div class="dual">
        <div class="input-field">
          <label for="quantity">Quantity</label>
          <input
            id="quantity"
            type="text"
            placeholder="Enter quantity..."
            aria-label="Enter your quantity"
          />
        </div>
        <div class="input-field">
          <label for="price">Price:</label>
          <input
            id="price"
            type="text"
            placeholder="Enter price..."
            aria-label="Enter your price"
          />
        </div>
      </div>
      <div class="input-field">
        <label for="description">Description:</label>
        <input
          id="description"
          type="text"
          placeholder="Enter description..."
          aria-label="Enter your description"
        />
      </div>
      <button aria-label="Submit">Submit</button>
    </form>
  </body>
  <%- include("partial/footer") %>
</html>
