<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <%- include("./partial/external-assets") %>
    <script src="https://cdn.jsdelivr.net/npm/lottie-web@5.9.4/build/player/lottie.min.js"></script>
  </head>
  <body class="landing__container">
    <section class="first__container">
      <div class="animation__section">
        <div
          id="animation__container"
          aria-label="Under development animation"
        ></div>
      </div>
    </section>

    <section class="second__container">
      <div class="upper__container">
        <div class="title">
          <h2>For future improvements</h2>
        </div>

        <div class="toDos">
          <div class="task">
            <input
              type="checkbox"
              id="toDo1"
              name="toDo1"
              value="toDo1"
              checked
              disabled
            />
            <label for="toDo1"> Deployment</label>
          </div>
          <div class="task">
            <input
              type="checkbox"
              id="toDo2"
              name="toDo2"
              value="toDo2"
              disabled
            />
            <label for="toDo2"> Search Functionality</label>
          </div>
          <div class="task">
            <input
              type="checkbox"
              id="toDo3"
              name="toDo3"
              value="toDo3"
              disabled
            />
            <label for="toDo3"> Filter Functionality</label>
          </div>
          <div class="task">
            <input
              type="checkbox"
              id="toDo4"
              name="toDo4"
              value="toDo4"
              disabled
            />
            <label for="toDo4"> Pagination</label>
          </div>
          <div class="task">
            <input
              type="checkbox"
              id="toDo5"
              name="toDo5"
              value="toDo5"
              disabled
            />
            <label for="toDo5"> Item Upload and Display</label>
          </div>
        </div>
      </div>

      <div class="lower__container">
        <p>Continue to</p>
        <a href="/items">
          <button aria-label="Go to Inventory Management System">
            Inventory Management System
          </button>
        </a>
      </div>
    </section>

    <script>
      var animation = lottie.loadAnimation({
        container: document.getElementById("animation__container"),
        renderer: "svg",
        loop: true,
        autoplay: true,
        path: "assets/developing.json",
      });
    </script>
  </body>
</html>
