<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Page</title>
    <%- include("./partial/external-assets") %>
  </head>
  <body>
    <header>
      <div class="title">
        <button aria-label="Home">
          <a href="/items">
            <i class="fas fa-home" title="Home"></i>
          </a>
        </button>
        <h1>Add Page</h1>
      </div>
    </header>
    <hr />

    <!-- Add Form -->
    <form class="form" action="/items/create-item" method="POST">
      <div class="input-field">
        <label for="name">Name:</label>
        <input
          id="name"
          type="text"
          name="name"
          placeholder="Enter name..."
          aria-label="Enter your name"
          required
        />
      </div>
      <div class="input-field">
        <label for="category">Category:</label>
        <input
          id="category"
          type="text"
          name="category"
          placeholder="Enter category..."
          aria-label="Enter your category"
          required
        />
      </div>
      <div class="dual">
        <div class="input-field">
          <label for="quantity">Quantity</label>
          <input
            id="quantity"
            type="number"
            name="quantity"
            placeholder="Enter quantity..."
            aria-label="Enter your quantity"
            required
          />
        </div>
        <div class="input-field">
          <label for="price">Price:</label>
          <input
            id="price"
            type="number"
            name="price"
            placeholder="Enter price..."
            aria-label="Enter your price"
            step="0.01"
            required
          />
        </div>
      </div>
      <div class="input-field">
        <label for="description">Description:</label>
        <textarea
          name="description"
          id="description"
          placeholder="Enter description..."
          aria-label="Enter your description"
          required
        ></textarea>
      </div>
      <button aria-label="Submit">Submit</button>
    </form>
  </body>
  <%- include("./partial/footer") %>
</html>
