<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In Page</title>
    <%- include("./partial/external-assets") %>
    <script src="https://cdn.jsdelivr.net/npm/lottie-web@5.9.4/build/player/lottie.min.js"></script>
  </head>
  <body class="landing__container">
    <section class="first__container">
      <div class="animation__section">
        <div
          id="animationContainer"
          aria-label="Under development animation"
        ></div>
      </div>
    </section>

    <section class="second__container">
      <div class="title">
        <h2>Inventory Management System</h2>
      </div>

      <form id="authForm" action="/signin" method="POST">
        <div class="input__fields">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            placeholder="Enter your username"
          />
          <label for="password">Password</label>
          <input
            type="text"
            name="password"
            placeholder="Enter your password"
            autocomplete="off"
          />
        </div>
        <button class="signin" type="submit">Sign In</button>
      </form>
      <a href="/signup">
        <button class="signup">Sign Up</button>
      </a>
    </section>

    <script>
      var animation = lottie.loadAnimation({
        container: document.getElementById("animationContainer"),
        renderer: "svg",
        loop: true,
        autoplay: true,
        path: "public/inventory.json",
      });
    </script>
  </body>
</html>
