<footer>
  <div class="separator">
    <hr />
  </div>
  <a href="https://marioyaoyaoii.vercel.app/">
    <div class="logo">
      <img
        src="/assets/icon.ico"
        alt="Yaosqrd Logo"
        title="Go to Yaosquared's Portfolio"
        class="logo"
      />
    </div>
  </a>
  <p>&copy; <%= new Date().getFullYear() %>. All rights reserved.</p>
</footer>
