<footer>
  <div class="separator">
    <hr />
  </div>
  <a href="https://marioyaoyaoii.vercel.app/">
    <div class="logo">
      <img src="/assets/icon.ico" alt="Yaosqrd Logo" class="logo" />
    </div>
  </a>
  <p>&copy; 2024. All rights reserved.</p>
</footer>
