* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$darkerBlue: #005f8b;
$blue: #0077b6;
$lighterBlue: #1b87bd;
$darkerRed: #9b1c31;
$red: #d32f2f;
$lighterRed: #f44336;
$darkerGreen: #36833a;
$green: #388e3c;
$lighterGreen: #66bb6a;
$black: #0c0c0c;
$lighterBlack: #060606;
$white: #ffffff;
$darkerGray: #eae8e8;
$gray: #bcbcbc;
$lighterGray: #f2f2f2;

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.8rem;
  margin: 2rem 2rem 0 2rem;
  font-size: small;
  color: $black;
  min-height: 96vh;
}

.details__container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .item__image {
    text-align: center;

    i {
      font-size: 15rem;
      cursor: pointer;
    }
  }

  .details {
    h2 {
      text-align: center;
      padding-bottom: 1rem;
    }

    ul {
      list-style-type: none;

      li {
        padding: 0.5rem;
      }
    }
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .header__buttons {
    display: flex;
    gap: 0.5rem;

    a {
      text-decoration: none;

      .add__icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $green;
        color: $lighterGreen;
        padding: 0.5rem 0.6rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: $darkerGreen;
        }

        i {
          font-size: 1.4rem;
          text-decoration: none;
        }
      }

      .signout__icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem 0.6rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: $darkerGray;
        }

        i {
          font-size: 1.4rem;
          text-decoration: none;
        }
      }
    }
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      i {
        font-size: x-large;
        color: $black;
      }
    }
  }

  h1 {
    font-size: large;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .search {
    width: 100%;
    margin: auto;
    padding: 0.2rem 0.15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1px $gray;
    border-radius: 5px;

    i {
      padding-left: 0.5rem;
      color: $gray;
    }

    input {
      width: 80%;
      padding: 0.5rem;
      background-color: transparent;
      border: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      font-size: small;
      color: $black;
      font-family: "Inter", sans-serif;
    }

    input:focus {
      outline: none;
    }

    &:focus-within {
      border: none;
      box-shadow: inset 0 0 0 2px $blue;
    }

    button {
      width: 20%;
      padding: 0.5rem;
      border: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: $lighterBlue;
      color: $white;
      cursor: pointer;
      font-family: "Inter", sans-serif;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: $blue;
      }
    }
  }

  .table__container {
    width: 100%;
    margin: auto;
    overflow-x: auto;

    table {
      white-space: nowrap;
      width: 100%;

      tr {
        transition: background-color 0.3s ease-in-out;

        &:first-child {
          background-color: $lighterBlue;
          color: $white;
        }

        &:nth-child(n + 2):hover {
          background-color: $lighterGray;
        }

        &:last-child {
          td:first-child {
            border-bottom-left-radius: 5px;
          }

          td:last-child {
            border-bottom-right-radius: 5px;
          }
        }

        th {
          padding: 0.5rem;
          text-align: center;
          color: $white;

          &:first-child {
            border-top-left-radius: 5px;
            padding: 2px;
          }

          &:last-child {
            border-top-right-radius: 5px;
          }
        }

        td {
          text-align: center;
          padding: 0.3rem;

          &:last-child {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .action__button {
              background-color: transparent;
              border: none;
              padding: 0.05rem;

              .view__icon {
                font-size: large;
                padding: 0.4rem;
                color: $lighterGreen;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                  color: $green;
                  transition: color 0.3s ease-in-out;
                }
              }

              .edit__icon {
                font-size: large;
                padding: 0.4rem;
                color: $lighterBlue;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                  color: $blue;
                  transition: color 0.3s ease-in-out;
                }
              }

              .delete__icon {
                font-size: large;
                padding: 0.4rem;
                color: $lighterRed;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                  color: $red;
                  transition: color 0.3s ease-in-out;
                }
              }
            }
          }
        }
      }
    }
  }

  .pagination {
    font-size: small;
  }
}

.form {
  width: 100%;
  margin: 5% auto;
  gap: 1rem;
  display: flex;
  flex-direction: column;

  .input__field {
    display: flex;
    flex-direction: column;

    input {
      padding: 0.7rem;
      background-color: transparent;
      border: none;
      border-radius: 5px;
      font-size: small;
      box-shadow: inset 0 0 0 1px $gray;
      color: $black;
      font-family: "Inter", sans-serif;

      &:focus {
        border: none;
        outline: none;
      }

      &:focus-within {
        box-shadow: inset 0 0 0 2px $blue;
      }
    }

    textarea {
      padding: 0.7rem;
      background-color: transparent;
      border: none;
      border-radius: 5px;
      font-size: small;
      box-shadow: inset 0 0 0 1px $gray;
      color: $black;
      font-family: "Inter", sans-serif;
      resize: vertical;

      &:focus {
        border: none;
        outline: none;
      }

      &:focus-within {
        box-shadow: inset 0 0 0 2px $blue;
      }
    }
  }

  label {
    font-weight: 500;
    font-size: small;
  }

  .dual {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4%;

    .input__field {
      width: 48%;
    }
  }

  button {
    padding: 0.5rem;
    font-size: small;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: $lighterBlue;
    color: $white;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    transition: background-color 0.3s ease-in-out;
  }

  button:hover {
    background-color: $blue;
  }
}

.delete__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

  .delete__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    gap: 1rem;
    text-align: center;
    border: 1px solid $lighterGray;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

    i {
      font-size: 4rem;
      color: $red;
    }

    .selections {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding-top: 0.5rem;
      gap: 3%;
      font-weight: bold;

      a {
        width: 50%;

        .cancel {
          width: 100%;
          height: 100%;
          padding: 0.6rem;
          border: none;
          border-radius: 5px;
          background-color: $gray;
          color: $white;
          font-family: "Inter", sans-serif;
          cursor: pointer;
          transition: background-color 0.3s ease-in-out;

          &:hover {
            background-color: $darkerGray;
          }
        }
      }

      form {
        width: 50%;

        .delete {
          width: 100%;
          height: 100%;
          padding: 0.5rem;
          border: none;
          border-radius: 5px;
          background-color: $lighterRed;
          color: $white;
          font-family: "Inter", sans-serif;
          cursor: pointer;
          transition: background-color 0.3s ease-in-out;

          &:hover {
            background-color: $red;
          }
        }
      }
    }
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;

    a {
      text-decoration: none;
      font-weight: bolder;
      color: $black;

      &:hover {
        background-color: $lighterGray;
      }

      li {
        padding: 1rem;
        border-right: 1px solid $darkerGray;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  margin-top: auto;

  .separator {
    width: 100%;
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      width: 3rem;
      height: auto;
      padding-top: 0.5rem;

      &:hover {
        scale: 1.02;
        cursor: pointer;
      }
    }

    h3 {
      font-size: large;
    }
  }

  p {
    font-size: small;
  }
}

.landing__container {
  margin: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .first__container {
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  .second__container {
    height: 40%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1rem;

    .title {
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .input__fields {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
          font-weight: 500;
        }

        input {
          padding: 0.7rem;
          background-color: transparent;
          border: none;
          border-radius: 5px;
          box-shadow: inset 0 0 0 1px $gray;
          color: $black;
          font-family: "Inter", sans-serif;

          &:focus {
            border: none;
            outline: none;
          }

          &:focus-within {
            box-shadow: inset 0 0 0 2px $blue;
          }
        }
      }

      button {
        padding: 0.7rem;
        border: none;
        font-weight: 600;
        cursor: pointer;
        font-family: "Inter", sans-serif;
        transition: background-color 0.2s ease-in-out;
        background-color: $lighterBlue;
        color: $white;
        margin-top: 1rem;
        border-radius: 5px;

        &:hover {
          background-color: $blue;
        }
      }
    }

    .signup {
      width: 100%;
      padding: 0.7rem;
      border: none;
      font-weight: 600;
      cursor: pointer;
      font-family: "Inter", sans-serif;
      transition: background-color 0.2s ease-in-out;
      background-color: $lighterGray;
      border-radius: 5px;

      &:hover {
        background-color: $darkerGray;
      }
    }
  }
}

// For tablets
@media only screen and (min-width: 768px) {
  body {
    margin: 2rem 5rem 0 5rem;
  }

  header {
    .title {
      gap: 0.5rem;
    }
  }

  .details__container {
    .item__image {
      i {
        font-size: 20rem;
      }
    }

    .details {
      ul {
        width: 50%;
        margin: auto;
      }
    }
  }

  main {
    .search {
      padding: 0.2rem 0.2rem;

      button {
        padding: 0.6rem;
      }
    }
  }

  .form {
    width: 80%;

    .dual {
      gap: 4%;

      .input-field {
        width: 48%;
      }
    }
  }

  .delete__container {
    .delete__modal {
      padding: 3rem;
    }
  }

  .landing__container {
    .first__container {
      width: 70%;
      margin: auto;
    }

    .second__container {
      width: 60%;
    }
  }
}

// For laptops
@media only screen and (min-width: 1024px) {
  body {
    margin: 2rem 8rem 0 8rem;
  }

  header {
    h1 {
      font-size: larger;
    }

    .title {
      gap: 0.6rem;
    }
  }

  body {
    font-size: medium;
  }

  main {
    .search {
      padding: 0.2rem 0.15rem;

      input {
        font-size: small;
      }

      button {
        padding: 0.5rem;
        font-size: small;
      }
    }

    .header {
      h1 {
        font-size: x-large;
      }
    }

    .table__container {
      table {
        tr {
          font-size: small;

          td {
            &:last-child {
              .action__button {
                .edit__icon {
                  font-size: x-large;
                }

                .delete__icon {
                  font-size: x-large;
                }
              }
            }
          }
        }
      }
    }

    .form {
      .input-field {
        input {
          padding: 0.7rem;
          font-size: small;
        }
      }

      button {
        padding: 0.7rem;
        font-size: small;
      }
    }

    .delete__container {
      .delete__modal {
        padding: 4rem;
      }
    }
  }

  .landing__container {
    flex-direction: row;
    height: 100vh;

    .first__container {
      // border: 1px solid black;

      height: auto;
    }

    .second__container {
      // border: 1px solid black;

      height: auto;
      padding: 2rem;

      .title {
        margin-top: 0;
        font-size: large;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .input__fields {
          input {
            font-size: small;
          }
        }

        button {
          font-size: small;
          border-radius: 5px;
        }
      }
    }
  }
}

// For desktops
@media only screen and (min-width: 1440px) {
  body {
    margin: 2rem 10rem 0 10rem;
  }

  header {
    .title {
      gap: 0.7rem;
    }
  }

  .details__container {
    .item__image {
      i {
        font-size: 23rem;
      }
    }
  }

  main {
    .search {
      padding: 0.2rem 0.21rem;

      button {
        padding: 0.58rem;
      }
    }
  }

  .form {
    .input-field {
      input {
        padding: 0.7rem;
      }
    }
    .dual {
      gap: 3%;

      .input-field {
        width: 48.5%;
      }
    }

    button {
      padding: 0.8rem;
    }
  }

  .landing__container {
    margin-left: 10rem;
    margin-right: 10rem;

    .first__container {
      width: 60%;
      align-items: center;
    }

    .second__container {
      padding: 6rem;
    }
  }
}
